@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/* global */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

/* container */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* form */

.login-form {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: 600;
}

/*User Section*/

.user-section {
  display: flex;
  display: none;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.user-section image {
  height: 40rem;
  width: 40rem;
}

/* Buttons */

.admin-btn {
  background-color: darkcyan;
  margin-left: 2vw;
}

.logout-btn {
  background-color: rgb(209, 92, 14);
}

input[type='submit'] {
  background-color: green;
}

.btn {
  border: none;
  padding: 0.5rem;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
}

/* etc.. */

.container img {
  height: 4rem;
  width: 4rem;
}

.error-msg {
  margin: 0.2rem;
  text-align: center;
  visibility: hidden;
  color: tomato;
}

/* ======== 
  utility classed
  ==========*/

.hide {
  display: none;
}

.flex {
  display: flex;
}
